html ,body{
  width: 100%;
}
iframe{
  scrolling:yes;
}
*{
  -webkit-overflow-scrolling: touch;
}
a{text-decoration: none; color: inherit;}
bg{padding: 2px 6px;}
bg.green{background: #48cfad; color:#fff;}
.wrapper{font-family: 'noto sans kr';}
.header{
  position: fixed; display: flex; justify-content: space-between; width: 100%; height: 70px;
  z-index: 999;
  background: #ffffffff; border-bottom: 1px solid #ccd1d9;
  font-family: 'noto sans kr';
}
.header .logo{padding-left: 48px;;}
.header .logo img{margin-top: 11px; height: 48px;}

.header .menu{display: flex; padding-right: 48px;}
.header .menu li{
  margin-left: 64px;
  list-style: none;
  font-weight: 500; font-size: 16px; line-height: 70px; color: #434a54;
}
.header .menu li:first-child{margin-left: 0;}
.header .menu li:hover{
  border-bottom: 2px solid #37bc9b;
  color: #37bc9b;
  transition: .2s;
}

.section.intro{
  opacity: 0;
  background-size: cover;
}
.section.intro .ment{
  height: 82px;
}
.section.intro .ment span{
  display:none;
  margin-left: 64px; height:48px;
  font-size: 64px; font-weight: 600;
  text-shadow: 0px 4px 2px #ffffff8a;
  color: #48cfadff;
}
.section.intro .ment p{
  display: none;
  height: 32px; font-size: 32px;
  margin-left: 64px;
  margin-top: 24px; font-weight: 300; line-height: 40px;
  color: #656d78;
}


.section.company{background-color: #f5f7fa;}
.section.company .splice{display: flex;}
.section.company .splice .left, .section.company .splice .right{width: 50%;}
.section.company .splice .right{
  opacity: 0;
  position: absolute; left: 50%; top: 0; width:50%; height: 100%;
  background:none;
  background-size: cover;
}

.section.company .splice .left{
  width: calc(50% - 128px); padding-left: 64px;
}
.section.company .splice .left .title{
  height: 160px;
}

.section.company .splice .left span{display:block;}
.section.company .splice .left span.top{
  font-size: 40px; font-weight: 200;
  color:#000;
}
.section.company .splice .left span.logotype{
  margin-top: 16px; font-size: 56px; font-weight: 600;
  color: #434a54;
}
.section.company .splice .left p{
  font-size: 20px; line-height: 32px;
  color: #656d78;
}
.section.company .splice .left .link{
  padding-top: 8px; text-decoration: underline;
}

.section.services{
  background: #000;
}
.section.services .pic{
  display: flex; width: 100%; height: 100%;
}
.section.services .pic-list{
  display: none;
  width: 20%; height: 100%;
  background-size:cover;
  color:#fff;
  cursor: pointer;
}
.section.services .pic-list .bg{
  z-index: 9;
  position:absolute; width: 100%;height: 100%;
}
.section.services .pic-list:hover .contents{display: block;}
.section.services .pic-list:hover .bg{
  filter:brightness(24%); transition: .4s;
  z-index: 9;
  position:absolute; width: 100%;height: 100%;
}
.section.services .pic-list.home .bg{
  background: url('/assets/img/service-home.jpg') no-repeat center center;
  background-size:cover;
}
.section.services .pic-list.rest .bg{
  background: url('/assets/img/rest.png') no-repeat center center;
  background-size:cover;
}
.section.services .pic-list.kids .bg{
  background: url('/assets/img/kids.png') no-repeat center center;
  background-size:cover;
}
.section.services .pic-list.office .bg{
  background: url('/assets/img/office.png') no-repeat center center;
  background-size:cover;
}
.section.services .pic-list.hotel .bg{
  background: url('/assets/img/hotel.png') no-repeat center center;
  background-size:cover;
}
.section.services .pic-list .contents{
  display: none; transition: .2s;
  position: absolute; width: 100%; z-index: 9999; height:100%;
  padding-left: 24px; padding-top: calc(100%);
}
.section.services .pic-list .contents span{
  display: block;
  color:#fff;
}
.section.services .pic-list .contents span.common{
  font-size: 16px;
  color:#ffffffaa;
}
.section.services .pic-list .contents span.type{
  display: inline-block;
  margin-top: 0px;
  font-size: 48px; font-weight: 600; line-height: 72px; border-bottom: 2px solid #fff;
}
.section.services .pic-list .contents span.detail{
  color: #ffffffcc; padding-top: 24px;
}
.section.services .pic-list .contents span.detail:hover{
  text-decoration: underline;
}
.section.services .desc{
}




.section.portfolio{
  background: #f5f7fa;
}
.section.portfolio .title{
  text-align: center;
  font-weight: 100; font-size: 48px;
  color:#48cfad;
}

.section.portfolio .gallery{
  margin: 72px auto 0 auto; width: 1280px;
  display: flex; justify-content: space-between;
}
.section.portfolio .gallery .slick-list{
  width: 80%;
}
.section.portfolio .gallery i{
  position: relative; top: 160px;
  font-size: 64px; cursor: pointer;
  color: #0000003a;
}
.section.portfolio .gallery i:hover{color:#000000a0;}
.section.portfolio .gallery .slick-slide{
  margin: 0 24px;
}
.section.portfolio .gallery .gallery-item .image{}
.section.portfolio .gallery .gallery-item .image img{
  width: 100%; height: 360px;
  border: 4px solid #fff; box-shadow: 2px 1px 4px 2px rgba(0,0,0,0.24);
  filter: grayscale(1);
}
.section.portfolio .gallery .gallery-item .image img:hover{
  filter:grayscale(0);
  border: 4px solid #fff; box-shadow: 2px 1px 4px 2px rgba(0,0,0,0.16);
  transition: .4s;
}
.section.portfolio .gallery .gallery-item .names{text-align: center;margin-top: 16px; font-size: 20px; font-weight: 300;}
.section.portfolio .gallery .gallery-item .types{margin-top: 8px; color: #656d78;}
.section.portfolio .gallery .gallery-item .services{display:none;margin-top: 8px; color: #656d78; }

.section.bottom{
  background:#000;
}

.section.bottom{text-align: center;}
.section.bottom .object-wrap{width: 100%; height: 100%;}
.section.bottom object{
  width: 80%;
  height: 100%;
}

.section.footer{
  width:100%; background: #fff;
  box-shadow: 2px 0px 4px 2px rgba(0,0,0,0.16);
}
.section.footer .inquiry{width: 1280px; margin:auto; padding-top: 48px;}
.section.footer .inquiry .section-title{font-size: 24px;}
.section.footer .inquiry .section-desc{margin-top: 8px; margin-bottom: 16px;font-size: 16px; color:#6a6a6a;}
.section.footer .inquiry .row{display: flex; justify-content: space-between;}
.section.footer .inquiry .row input{width: 49.5%; border:1px solid #c0c0c0;}
.section.footer .inquiry .row select{width: 49.5%;color: #6a6a6a;}
.section.footer .inquiry select{
  box-sizing: border-box; padding: 8px; margin-bottom: 8px;
  border-radius: 4px;
  font-size: 16px; font-family: 'noto sans kr';
}
.section.footer .inquiry input{
  width: 100%; margin-bottom: 8px;
  box-sizing: border-box; padding: 8px;
  border:1px solid #c0c0c0; border-radius: 4px;
  font-size: 16px; font-family: 'noto sans kr';
}
.section.footer .inquiry button{
  box-sizing: border-box; width: 100%; padding: 12px; font-family: 'noto sans kr';
  background: #48cfad; color:#fff; font-size: 16px; border:none; border-radius: 4px;
  cursor: pointer;
}
.section.footer .inquiry button:hover{
  filter: brightness(90%);
}

.section.footer .ment{
  font-family: 'nanum gothic';
  padding: 24px 0 0 0;
  text-align: center;
  font-size: 20px; font-weight: 100; color: #48cfad;
}
.section.footer .width{
  color: #434a54;
  font-size: 13px; font-weight: 300;
  padding: 24px 0;
  text-align: center;
  line-height: 24px;
}
